/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  text-align: justify;
  line-height: 1.5em;
  padding: 0.5em 1.4em;
}

#flashlight {
  --Xpos: 50vw;
  --Ypos: 50vh;
}
#flashlight::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: radial-gradient(
    circle 9em at var(--Xpos) var(--Ypos),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

em{
  background-color: yellow;
}


/* UNCOMMENT IF U WANT TO TRY RECTANGLE VERSION */

/* 
body{
  background-color: black;
}
#flashlight-rectangle{
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: white;
}
#text{
  width: 100vw !important;
  position: absolute;
  left: 0;
  top: 0;
} */

@media only screen and ( max-width: 400px){
  p{
    font-size: 12px;
  }
}